body{
    margin: auto;
    background-color: #444;
    color: #ffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    font-size: 100;
    text-align: center;
}

h1, h2{
    font-weight: 300;
}